*{
    margin: 0;
    padding: 0;
}
button{
    outline: none;
}
body{
   background-color: rgb(40, 100, 156);
   font-family: sans-serif;
}

#load-anim{
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.loadIcon{
    width: 100px;
    animation: 2s pulse linear infinite;
}
@keyframes pulse{
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(0.9);
    } 
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    } 
}
.overall-workspace-display{
  display: block;
}
.header{
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(43, 148, 189);
}
.h1-primary-1{
  font-size: 30px;
  font-family: monospace;
  color: white;
  cursor: default;
}
.Kampo-heading{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-color: rgb(78, 184, 255);
  -webkit-text-stroke-width: 1px;
  color: rgb(0, 0, 0)
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo:hover{
  cursor: pointer;
}
#menu-cont{
  padding: 10px;
  border-radius: 10px;
  border: 1px white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}
a{
  text-decoration: none;
}
#menu-cont:hover{
  opacity: 0.6;
  cursor: pointer;
  transition:0.3s linear;
}
.block{
  display: block;
}
.bar-gen{
  background-color: white;
  border-radius: 50px;
  height: 5px;
  margin: 5px;
}
.bar1{
  width: 35px;
}
.bar2{
  width: 25px;
}
.bar3{
  width: 15px;
}
.menu-display-container{
    display: none;
    position: absolute;
    z-index: 99;
    flex-direction: column;
    top: 0px;
    right: 0px;
    width: 40%;
    height: 100vh;
    overflow: auto;
    background-color: #00347a;
    padding: 20px 0;
    animation: 0.3s slideX linear;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .cancel-btn{
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    background-color: #3daad5;
  }
  .menu-link{
    margin: 10px;
    text-decoration: none;
    font-family: monospace;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
  }
  .menu-link:hover{
    transition: 0.6s linear;
    color: #3be5ff;
    background-color: #00000064;
  }
.menu-icon{
  padding-right: 15px;
}

.top-tool-display{  
  top: 0;
  left: 0;
  position: absolute;
  z-index: 150;
  width: 100%;
}

.side-bar{
  background-color: #3daad5;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  padding-top: 90px;
  animation: 0.35s slideY linear;
}
.left-tool-display{
  left: 0;
  height: 83vh;
  overflow: auto;
}
.side-bar-tool{
  padding: 15px;
  margin: 0px;
}
.side-bar-tool:hover{
  background-color: #4ecde9;
  cursor: pointer;
}
.scale-anim-div{
  display: flex;
  align-items: center;
}
.scale-anim-div:hover{
  transform: scale(1.1);
  transition: 0.3s linear;
}
.side-bar-tool-text{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 25px;
  color: #04272f;
  font-weight: bolder;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10px;
}
.main-cont{
  background-color: rgb(40, 100, 156);
  height: 83vh;
  width: 80%;
  position: absolute;
  left: 20%;
  top: 16.3%;
  overflow: auto;
  display: none;
  animation: 0.3s zoom linear;
}
.home-page{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-logo{
  background-color: rgb(40, 100, 156);
}
.home-heading-cont{
  
  background: linear-gradient(to right, rgb(40, 100, 156), rgb(22, 211, 205));
  padding: 20px;
  border-radius: 20px;
  overflow: auto;
}
.home-heading-cont-text{
  color: #090e45;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  cursor: default;
}

.guide-head-txt{
  color: black;
  font-size: 30px;
  cursor: default;
}
ul{
  margin-left: 15px;
}
li{
  font-weight: bold;
  color: #0b2774;
  font-size: 25px;
  cursor: default;
}
.start-btn{
  padding: 13px;
  border: none;
  border-radius: 20px;
  background-color: #04272f;
  color: #3be5ff;
  font-weight: bold;
  width: 350px;
}
.start-btn:hover{
  cursor: pointer;
  border-radius: 10px;
  background-color: #17ecf0;
  color: #04272f;
  transition: 0.5s linear;
}
.lesson-page{
  margin: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}
.notes{
    font-size:25px;
    color:#8098ff;
    font-family: monospace;
}
/* User Name*/
.user-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-avatar{
    height: 35px;
    width: 35px;
    border: 5px solid black;
    margin: 10px;
    border-radius: 200px;
    display: flex;
    Justify-content: center;
    Align-items: center;
}
.avatar{
    margin: 10px;
    width: 30px;
}
.muted{
    font-size: 20px;
    color: #95e0ff;
    font-weigth: bold;
    margin: 10px;
}
#username{
  color: #1bb6ce;
  -webkit-text-stroke-color: rgb(0, 23, 61);
  -webkit-text-stroke-width: 1px;
  cursor: default;
}
.cont-btn{
  width: 300px;
  padding: 15px;
  background-color: #17ecf0;
  color: black;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  margin: 10px;
}
.cont-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.3s linear;
}
#done{
  font-size: 30px;
  color: #090e45;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}


@keyframes slideY {
  from{
    opacity: 0;
    transform: translateY(-500px);
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes zoom {
  from{
    opacity: 0;
    transform: scale(0.1);
  }
  to{
    opacity: 1;
    transform: scale(1.0);
  }
}
@keyframes slideX {
  from{
    opacity: 0;
    transform: translate(500px);
  }
  to{
    opacity: 1;
    transform: translate(0px);
    right: 0px;
  }
}

.hamburger {
  display: none;
}





@media (max-width: 650px) {
  .logo{
    display: none;
  }
}
@media (max-width: 750px) {
   .left-tool-display{
       display: none;
       position: absolute;
       z-index:99;
   }
   .home-page{
      display: flex;
      Justify-content: center; 
      Align-items: center;
   }
   .home-heading-cont{
      display: absolute;
      left: 0px;
      right: 0px;
      width: 1000px;
      /* margin: 20px; */
      padding: 40px;
      border-radius: 20px;
      overflow: auto;
      background: #00000011;
    }
    .home-logo{
      display: none;
    }
  .hamburger {
    display: block;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-left: 20px;
  }
 .left-tool-display.active {
    display: flex;
  }
}
@media (max-width: 1083px) {
  .home-heading-cont-text{
    font-size: 30px;
  }
  .start-btn{
    width: 250px;
  }
  .home-logo-img-icon-res{
    width: 200px;
  }
  .guide-head-txt{
    font-size: 20px;
  }
  li{
    font-size: 17px;
  }
}
